<%= turbo_stream.before "friends-loader" do %>
  <% @friends.each do |friend| %>
    <%= render partial: "friend",
    locals: {
      friend: friend,
      current_user: current_user,
      user: @user,
    } %>
  <% end %>
<% end %>

<%= turbo_stream.replace "friends-loader" do %>
  <% shift = Friendship::LIMIT %>
  <%= turbo_frame_tag "friends-loader",
  loading: "lazy",
  src: load_friends_for_user_url(id: @user.id, offset: @offset.to_i + shift, format: "turbo_stream") do %>
    <p>
      Loading more...
    </p>
  <% end %>
<% end %>
