<%= tag.div data: {
              controller: "search",
              search_url_value: search_users_url,
              }  do %>

  <%= text_field_tag :name,
  "",
  placeholder: "Search people by name",
  data: {
    action: "keyup->search#fetchResults",
    search_target: "nameField",
  },
  autofocus: true,
  autocomplete: "off" %>
  <div data-search-target="results"></div>
<% end %>

<%= tag.ul id: "users" %>

<%= turbo_frame_tag "users-loader",
loading: "lazy",
src: load_all_users_url(format: "turbo_stream") do %>
  <p>
    Loading...
  </p>
<% end %>
