<%= turbo_stream.before "friend-requests-loader" do %>
  <% @friend_requests.each do |friend_request| %>
    <%= render partial: "friend_request",
    locals: {
      friend_request: friend_request,
      user_id: current_user.id,
    } %>
  <% end %>
<% end %>

<%= turbo_stream.replace "friend-requests-loader" do %>
  <% shift = FriendRequest::LIMIT %>
  <%= turbo_frame_tag "friend-requests-loader",
  loading: "lazy",
  src: load_incoming_friend_requests_url(offset: @offset.to_i + shift, format: "turbo_stream") do %>
    <p>
      Loading more...
    </p>
  <% end %>
<% end %>
