<h1>Posts#feed</h1>
<p>Find me in app/views/posts/feed.html.erb</p>

<%= turbo_frame_tag "feed-posts" %>

<%= turbo_frame_tag "posts-loader",
loading: "lazy",
src: load_feed_posts_url(format: "turbo_stream") do %>
  <p>
    Loading...
  </p>
<% end %>
