<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= turbo_frame_tag "posts" %>

<%= turbo_frame_tag "loader",
loading: "lazy",
src: load_posts_url(format: "turbo_stream") do %>
  <p>
    Loading...
  </p>
<% end %>
