<h1>Posts#user_feed_index</h1>
<p>Find me in app/views/posts/user_feed_index.html.erb</p>

<%= turbo_frame_tag "user-feed-posts" %>

<%= turbo_frame_tag "posts-loader",
loading: "lazy",
src: load_user_feed_posts_url(format: "turbo_stream") do %>
  <p>
    Loading...
  </p>
<% end %>
